<div class="col-xs-12">
	<div class="center-block">
	<div class="row">
		<div class="col-md-4">
			<h2 style="margin-top: 20px; margin-bottom: 0px; ">Anexos</h2>
		</div>
		
	</div>
	
	<hr style="margin-top: 0px; margin-bottom: 0px;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
	<div class="row">
		<div class="col-md-4">
			<!--routerLink envia a la direcion declarada en el modulo routin-->
      		<a routerLink="/addAnexo" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;">+Nuevo</a>
    	</div>
	</div>
	<table class="table table-hover table-sm table-responsive-lg " style="background: white" >
		<thead class="thead-ligth">
			<tr>
				<th scope="col" colspan="2">Anexo</th>
				<th scope="col" colspan="2">Clave Presupuestal</th>
				<th scope="col" colspan="2">Fecha de Inicio</th>
				<th scope="col" colspan="2">Fecha de Fin</th>
				<th scope="col" colspan="2">importe del Anexo</th>
				<th scope="col" colspan="2">Monto por Pago</th>
				<th scope="col" colspan="2"># Pagos</th>
				<th scope="col" colspan="2">Cliente</th>
				<th scope="col" colspan="2">Periodo</th>
				<th scope="col" colspan="2">Acción</th>
			</tr>
		</thead>
		<tbody>
			<!--itera la lista anexos para mustrarla en el documento html-->
			<tr *ngFor="let anexo of anexos">
				<th scope="row" colspan="2">{{anexo.anexooc}}</th>
				<td colspan="2">{{anexo.clavepresupuestal}}</td>
				<td colspan="2">{{anexo.fechaInicio}}</td>
				<td colspan="2">{{anexo.fechaFin}}</td>
				<td colspan="2">${{anexo.importeanexo}}</td>
				<td colspan="2">${{anexo.montoxpago}}</td>
				<td colspan="2">{{anexo.numeropagos}}</td>
				<td colspan="2" *ngFor="let cliente of clientes" >
				<span *ngIf="cliente.idCliente === anexo.idCliente">{{cliente.nombreCliente}}</span>
				</td>
				<td colspan="2" *ngFor="let periodo of periodos" >
				<span *ngIf="periodo.idperiodo === anexo.idperiodo">{{periodo.periodo}}</span>
				</td>
				<td colspan="2"><button type="button" style="background-color: Transparent; outline:none;background-repeat:no-repeat; border: none;cursor:pointer; overflow: hidden" (click)="deleteAnexo(anexo)"><span class="fa fa-trash-o"></span></button></td>
			</tr>
		</tbody>
	</table>
	<ng-template #noAnexo>
		<div><p>¡No existe ningun Anexo aún!, Da clic en el boton "Nuevo" para agregar un Anexo.</p></div>
	</ng-template>
</div>
</div>