<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper >
    <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="true" >
      <!--se debe modificar la libreria angular-admin-lte en el repositorio https://github.com/mika-el/angular-admin-lte y luego modificar en ng-content del html haider de la libreria angular-admin-lte-->
       <mk-layout-header-logo><a style="text-decoration: none; color:white; background: transparent;"href="http://192.168.0.10:8082/Kabec/showIndex"><b>Soluciones Kabec</b></a></mk-layout-header-logo>
      <mk-layout-header-logo-mini><a style="text-decoration: none; color: white"href="http://192.168.0.10:8082/Kabec/showIndex"><b>SK</b></a></mk-layout-header-logo-mini>
     <app-header-inner></app-header-inner>
     <mk-layout-sidebar-right>
      <app-sidebar-right-inner></app-sidebar-right-inner>
    </mk-layout-sidebar-right>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    
    <mk-layout-content>
      <div mk-layout-content-before-header>
        <div *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
          <mk-material-bar></mk-material-bar>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        <strong>Copyright © 2018 Soluciones Kabec. All rights reserved.</strong>
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 2.4.0
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>