<div class="col-xs-12">
  <div class="center-block">
  <div class="row">
    <div class="col-12">
      <h2 style="margin-top: 20px; margin-bottom: 0px; ">Reporte Consultores No Asignados</h2>
    </div>
    
  </div>
  
  <hr style="margin-top: 0px; margin-bottom: 0px;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
  <div class="row">
    <div class="col-md-4">
          <br style="margin-top: 20px; margin-bottom: 20px;">
      </div>
  </div>  
                  <table class="table table-md table-hover table-responsive-sm" style="background: white">
					<thead class="thead-ligth">
						<tr>
							<th scope="col" colspan="2">Id</th>
							<th scope="col" colspan="2">Nombre</th>
							<th scope="col" colspan="2">Correo</th>
							<th scope="col" colspan="2">Telefono Celular</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let noasignado of noasignados">
							<th scope="row" colspan="2">{{noasignado.idpersona}}</th>
							<td colspan="2">{{noasignado.nombre}} {{noasignado.apellidoPaterno}} {{noasignado.apellidoPaterno}}</td>
							<td colspan="2">{{noasignado.correo}}</td>
							<td colspan="2">{{noasignado.telparticular}}</td>
						</tr>
					</tbody>
				</table>
</div>
</div>