<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- Messages: style can be found in dropdown.less -->

    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle >
    <a #toggleElement *ngIf="user.sexo=='M'">
          <img src="dist/front-end-kabec/assets/img/avatar5.png" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.username}}</span>
        </a>

        <a #toggleElement *ngIf="user.sexo=='F'">
          <img src="dist/front-end-kabec/assets/img/avatar2.png" class="user-image" alt="User Image">
          <span class="hidden-xs">{{user.username}}</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
         <li class="user-header" *ngIf="user.sexo=='M'">
          <img src="dist/front-end-kabec/assets/img/avatar5.png" class="img-circle" alt="User Image">

          <p>
          {{user.name}}
            <small>role</small>
          </p>
        </li>

        <li class="user-header" *ngIf="user.sexo=='F'">
          <img src="dist/front-end-kabec/assets/img/avatar2.png" class="img-circle" alt="User Image">

          <p>
          {{user.name}}
            <small>role</small>
          </p>
        </li>

        <li class="user-footer">

          <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign out</a>
          </div>
        </li>
      </mk-dropdown-menu>
    </li>

  </ul>
</div>
