<div class="col-xs-12">
	<div class="center-block">
	<div class="row">
		<div class="col-md-4">
			<h2 style="margin-top: 20px; margin-bottom: 0px;">Areas</h2>
		</div>
		
	</div>
	
	<hr style="margin-top: 0px; margin-bottom: 0px;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);"/>
	<div class="row">
		<div class="col-md-4">
      		<a routerLink="/addAreas" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;">+Nuevo</a>
    	</div>
	</div>
		<div class="center-block">
                  <table class=" table table-md table-hover table-responsive-sm" style="background: white" >
					<thead class="thead-ligth">
						<tr>
							<th scope="col" colspan="2">Id Area</th>
							<th scope="col" colspan="2">Nombre Area</th>
							<th scope="col" colspan="2">Cliente</th>
							<th scope="col" colspan="2">Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let area of areas" >
							<th scope="row" colspan="2">{{area.idArea}}</th>
							<td colspan="2">{{area.nombreArea}}</td>
							<td colspan="2">
								<div *ngFor="let cliente of clientes">
									<div *ngIf="cliente.idCliente== area.idCliente">
										{{cliente.nombreCliente}}
									</div>
								</div>
							</td>
							<td colspan="2"><button type="button" style="background-color: Transparent; outline:none;background-repeat:no-repeat; border: none;cursor:pointer; overflow: hidden" (click)="deleteArea(area)"><span class="fa fa-trash-o"></span></button></td>
						</tr>
					</tbody>
				</table>
		</div>
</div>
</div>

