<div class="col-xs-12">
  <div class="center-block">
  <div class="row">
    <div class="col-12">
      <h2 style="margin-top: 20px; margin-bottom: 0px; ">Reporte Consultores Asignados</h2>
    </div>
    
  </div>
  
  <hr style="margin-top: 0px; margin-bottom: 0px;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
  <div class="row">
    <div class="col-md-4">
          <br style="margin-top: 20px; margin-bottom: 20px;">
      </div>
  </div>      
                  <table class="table table-md table-hover table-responsive-sm" style="background: white">
					<thead class="thead-ligth">
						<tr>
							<th scope="col" colspan="2">Id</th>
							<th scope="col" colspan="2">Nombre</th>
							<th scope="col" colspan="2">Perfil</th>
							<th scope="col" colspan="2">Cliente</th>
							<th scope="col" colspan="2">Area</th>
							<th scope="col" colspan="2">Gerente</th>
							<th scope="col" colspan="2">Gerente Comercial</th>
							<th scope="col" colspan="2">Lider</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let registroAsignado of registrosAsignados">
							<th scope="row" colspan="2">{{registroAsignado.persona.idpersona}}</th>
							<td colspan="2">{{registroAsignado.persona.nombre}} {{registroAsignado.persona.apellidoPaterno}} 
							{{registroAsignado.persona.apellidoPaterno}}</td>
							<td colspan="2">{{registroAsignado.idPerfil}}</td>
							<td colspan="2">{{registroAsignado.idCliente.nombreCliente}}</td>
							<td colspan="2">{{registroAsignado.idArea}}</td>
							<td colspan="2">{{registroAsignado.idGerente}}</td>
							<td colspan="2">{{registroAsignado.idGerenteComercial}}</td>
							<td colspan="2">{{registroAsignado.idLider}}</td>
						</tr>
					</tbody>
				</table>
</div>
</div>