<div class="col-xs-12">
  <div class="center-block">
  <div class="row">
    <div class="col-md-4">
      <h2 style="margin-top: 20px; margin-bottom: 0px; ">Nominas</h2>
    </div>
    
  </div>
  
  <hr style="margin-top: 0px; margin-bottom: 0px;  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);" />
  <div class="row">
    <div class="col-md-4">
          <a routerLink="/addNominas" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px;">+Nuevo</a>
      </div>
  </div>
<table class="table table-sm  table-responsive-sm table table-hover" style="background: white">
  <thead class="thead-ligth">
  <tr>
    <th scope="col" colspan="2">Id</th>
    <th scope="col" colspan="2">Contrato Nomina</th>
    <th scope="col" colspan="2">Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let nomina of nominas">
    <td>{{nomina.contratoNomina}}</td>
    <td>{{nomina.tipoConNom}}</td>
    <td colspan="2"><button type="button" (click)="deleteContratoNomina " style="background-color: Transparent; outline:none;background-repeat:no-repeat; border: none;cursor:pointer; overflow: hidden"><span class="fa fa-trash-o"></span></button></td>
  </tr>
  </tbody>
</table>
</div>
</div>
